
.content {
  height: 62%;
  margin-top:40px;

}


.app-form {
  padding-top: 30px;

}

 body , html{
  background:white;
  width: 100%;
  height: 100%;

}

.nav-item{
	color:white;
}

div#app{
	width: 100%;
  height: 100%;
}